header {
    width: 100%;
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
header input[type="text"] {
    width: 70%;
    padding: 15px;
    font-size: 20px;
    border: 3px solid #ccc;
    border-radius:10px;
    text-align: center;
}